.view{
    width: 60rem;
    aspect-ratio: 1/1;
    background: #fff;
    border: 1rem solid black;
    border-radius: 3rem;
    padding: 4rem;

    &__header{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading{
        font-size: 200%;
        font-weight: 400;
    }

    &__body{
        width: 100%;
        height: 60%; 
        padding-bottom: 2rem;
    }


    &__input{
        font-size: 100%;
        width: 100%;
        height: 100%;
        resize: none;
        font-family: inherit;
    }

    &__footer{
        width: 100%;
        height:20%;
    }

    &__button{
        padding: 2rem 4rem;
        font-size: 100%;
        width: 20rem;
        background: black;
        color: white;
        border: none;
        border-radius: 0.5rem;
        transition: 0.3s all;
        border: 0.2rem solid black;

        &:hover{
            cursor: pointer;
            background: white;
            color: black;
            
        }
    }

}