body{
    font-size: 2rem;
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to left,#FEFF86, #19A7CE); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}